<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/myservice/index.html">My PCF Service</a>
      </li>

      <li>
        <a href="/myservice/about.html">About My Service</a>
      </li>

      <li>
        <a href="/myservice/install-config.html">Installing and Configuring My Service</a>
      </li>

      <li>
        <a href="/myservice/use.html">Using My Service</a>
      </li>

      <li>
        <a href="/myservice/maintain.html">Maintaining My Service</a>
      </li>

      <li>
        <a href="/myservice/upgrade.html">Upgrading My Service</a>
      </li>

      <li>
        <a href="/myservice/reference.html">{Command / Property / Options / Flags} Reference</a>
      </li>

      <li>
        <a href="/myservice/release-notes.html">Release Notes</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
