---
title: Cloud Cache for Pivotal Cloud Foundry 
owner: Cloud Cache Engineers
---
#<a id='title'></a>Pivotal Cloud Cache
This is documentation for the Pivotal Cloud Cache (PCC) for Pivotal Cloud Foundry (PCF). This tile can be downloaded from [Pivotal Network](https://network.pivotal.io/products/cloud-cache).

This documentation:

 - Describes the features and architecture of Pivotal Cloud Cache for PCF
 - Instructs the PCF operator on how to install, configure, maintain Pivotal Cloud Cache for PCF
 - Instructs the App developer on how to choose a service plan, create and delete PCC service instances, and bind an app


##<a id='about'></a> About Pivotal Cloud Cache
Pivotal Cloud Cache (PCC) is a opinionated, distributed, highly available, high speed caching service offering on PCF. PCC can be easily horizontally scaled for capacity and performance. PCC is optimized for speicific use cases which are expressed as a plan in PCC tile. PCC can be used to store any kind of data objects using [Pivotal GemFire Java client library](http://gemfire-90-javadocs.docs.pivotal.io/). PCC is easy to setup and maintain using PCF. Upgrades are easy to perform and doesn't cause data loss or downtime (for minor versions). PCC uses Pivotal GemFire.

##<a id='snapshot'></a> Product Snapshot

Current Redis for PCF details

	Version: v1.0.0
	Release date: 31 March 2017
	Software component version: GemFire v9.0.2
	Compatible Ops Manager version: v1.9.11
	Compatible Elastic Runtime version: v1.9.11
	vSphere support? Yes
	Azure support? Yes
	GCP support? Yes
	OpenStack support? Yes
	AWS support? Yes
	IPSec support? No

