---
title: Cloud Cache for Pivotal Cloud Foundry
owner: Cloud Cache Engineers
---
#<a id='title'></a>Pivotal Cloud Cache
This is the documentation for the Pivotal Cloud Cache (PCC) for Pivotal Cloud Foundry (PCF). This tile can be downloaded from [Pivotal Network](https://network.pivotal.io/products/cloud-cache).

This documentation:

 - Describes the features and architecture of Pivotal Cloud Cache for PCF
 - Instructs the PCF operator on how to install, configure, maintain Pivotal Cloud Cache for PCF
 - Instructs the App developer on how to choose a service plan, create and delete PCC service instances, and bind an app


##<a id='about'></a> About Pivotal Cloud Cache
Pivotal Cloud Cache (PCC) is a opinionated, distributed, highly available, high speed caching service offering on PCF. PCC can be easily horizontally scaled for capacity and performance. PCC is optimized for speicific use cases which are expressed as a plan in PCC tile. PCC can be used to store any kind of data objects using [Pivotal GemFire Java client library](http://gemfire-90-javadocs.docs.pivotal.io/). PCC is easy to setup and maintain using PCF. Upgrades are easy to perform and doesn't cause data loss or downtime (for minor versions). PCC uses Pivotal GemFire.

##<a id='snapshot'></a> Product Snapshot

Current Pivotal Cloud Cache for PCF details

<dd><strong>Version</strong>: v1.0.0</dd>
<dd><strong>Release date</strong>: 31 March 2017</dd>
<dd><strong>Software component version</strong>: GemFire v9.0.2 </dd>
<dd><strong>Compatible Ops Manager version</strong>: v1.9.11</dd>
<dd><strong>Compatible Elastic Runtime version</strong>: v1.9.21</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>Azure support?</strong> Yes</dd>
<dd><strong>GCP support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>IPsec support?</strong> No</dd>


##<a id='feedback'></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal–cf–feedback@pivotal.io).
