---
title: Example Applications
---
<a id="example-applications"></a>

These example applications provide insight into aspects
of app design for <%=vars.product_full%>.

In this topic:

- [A Simple Java App](use-sample-app.html)
- [A Spring Boot App](SBapp1.html)
