---
title: Cloud Cache for Pivotal Cloud Foundry 
owner: Cloud Cache Engineers
---

This is documentation for the the Cloud Cache for PCF service tile. 
## <a id='overview'></a>Overview

Cloud Cache for PCF provides a service broker for easy on-demand creation of in memory data grids. Cloud Cache service instances should be used as a look aside caches for Cloud Foundry applications. Cloud Cache is powered by GemFire.

## <a id='release-notes'></a>Release Notes
## <a id='Architecture'></a>Architecture
## <a id='sequence-diagram'></a>Sequence Diagram
## <a id='recommeded-usage'></a>Recommended Usage and Limitations
## <a id='security'></a>Security


