---
title: Service Instance Sharing
---

## <a id="something-intro"></a> Intro

Service instance sharing permits read-only access 
to a service within one space by an app within a different space.

The configuration instructions to enable service instance
sharing require identification of the org and the space of 
both the service instance and the app.
This diagram names the components for use in the configuration
instructions.
Service instance X resides within space C, which is part of org A.
App Y resides within space D, which is part of org B.

![diagram of spaces within orgs](instance-sharing.png)

## <a id="another-subsection"></a> Set Up Service Instance Sharing

The Cloud Cache service instance must be up and running prior to
setting up service instance sharing.

To set up service instance sharing:

1. Do a `cf login`, and target org A, space C.

2. Run the command:

    <pre class='terminal'>
    $ cf enable-feature-flag service_instance_sharing
    </pre>

3. 
