---
title: Networking for On-Demand Services
---

This section describes networking considerations for Pivotal Cloud Cache.

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

## <a id="service-network"></a>Service Network Requirement

<%= partial vars.path_to_partials + '/services/service-networks-v3', :locals => {
  :platform_name => vars.platform_old} %>

### <a id="on-demand"></a>Default Network and Service Network

<%= partial vars.path_to_partials + '/services/on_demand_architecture', :locals => {
  :product_short => vars.product_short} %>

### <a id="network-rules"></a>Required Networking Rules for On-Demand Services

<%= partial vars.path_to_partials + '/services/service_networks_table', :locals => {
  :platform_name => vars.platform_old,
	:app_runtime_full => vars.app_runtime_full,
	:product_short => vars.product_short} %>

<br>
Regardless of the specific network layout, the operator must ensure network
rules are set up so that connections are open as described in the table below.

<table class="nice">
  <th>This component...</th>
  <th>Must communicate with...</th>
  <th>Default TCP Port</th>
  <th>Communication direction(s)</th>
  <th>Notes</th>
  <tr>
    <td><strong>PCC cluster members</strong></td>
    <td><strong>PCC cluster members</strong></td>
    <td>49152-65535</td>
    <td>Two-way</td>
    <td>Inclusive range. PCC servers and locators communicate with each other using UDP and TCP.</td>
  </tr>
  <tr>
    <td><strong>PCC Service Instance 1</strong></td>
    <td><strong>PCC Service Instance 2</strong></td>
    <td>5000-5499</td>
    <td>Two-way</td>
    <td>Inclusive range. Gateway receivers and gateway senders communicate across WAN-separated service instances.  Each PCC
service instance uses GemFire defaults for the gateway receiver ports.</td>
  </tr>
  <tr>
    <td><strong>ODB</strong></td>
    <td>
        <ul>
            <li><strong>BOSH Director</strong></li>
          <li><strong>BOSH UAA</strong></li>
        </ul>
    </td>
    <td>
      <ul>
        <li>25555 (BOSH Director)</li>
        <li>8443 (UAA)</li>
        <li>8844 (CredHub)</li>
      </ul>
    </td>
    <td>One-way</td>
    <td>The BOSH Director and BOSH UAA default ports are not configurable. <br />The CredHub default port is configurable.</td>
  </tr>
  <tr>
    <td><strong>ODB</strong></td>
    <td><strong>PAS </strong>
    </td>
    <td>8443</td>
    <td>One-way</td>
    <td>The default port is not configurable.</td>
  </tr>
  <tr>
    <td><strong>Errand VMs</strong></td>
    <td>
      <ul>
        <li><strong>PAS </strong></li>
        <li><strong>ODB</strong></li>
      </ul>
    </td>
    <td>
      <ul>
        <li>443</li>
        <li>8080</li>
      </ul>
    </td>
    <td>One-way</td>
    <td>The default port is not configurable.</td>
  </tr>
  <tr>
    <td><strong>BOSH Agent</strong></td>
    <td><strong>BOSH Director</strong>
    </td>
    <td>4222</td>
    <td>Two-way</td>
    <td>The BOSH Agent runs on every VM in the system, including the BOSH Director VM.
      The BOSH Agent initiates the connection with the BOSH Director.<br>
      The default port is not configurable.  </td>
  </tr>
  <tr>
    <td><strong>Deployed apps on PAS </strong></td>
    <td><strong>Deployed service instances</strong>
    </td>
    <td>
      <ul>
        <li>55221 (GemFire locators) </li>
        <li>40404 (GemFire servers) </li>
      </ul>
    </td>
    <td>Two-way</td>
    <td>These port numbers are not configurable.</td>
  </tr>
  <tr>
    <td><strong>PAS </strong></td>
    <td>
      <ul>
        <li><strong>ODB </strong></li>
        <li><strong>Deployed service instances</strong></li>
      </ul>
    </td>
    <td>8080</td>
    <td>One-way</td>
    <td>PAS communicates with service instances because the Gorouter
      proxies gfsh requests to GemFire clusters. </td>
  </tr>
</table>

## <a id ="WAN_details"></a>PCC Instances Across WAN

PCC service instances running within distinct PCF foundations
may communicate with each other across a WAN.
In a topology such as this,
the members within one service instance use their own private address space,
as defined in [RFC1918](https://tools.ietf.org/html/rfc1918).

A VPN may be used to connect the private network spaces that lay
across the WAN.
The steps required to enable the connectivity by VPN are dependent
on the IaaS provider(s).

The private address space for each service instance's network
must be configured with non-overlapping CIDR blocks.
Configure the network prior to creating service instances.
Locate directions for creating a network on the appropriate IAAS provider
within the section titled
[Architecture and Installation Overview](https://docs.pivotal.io/pivotalcf/installing/index.html).
