---
title: Pivotal Cloud Cache Operator Guide
owner: Cloud Cache Engineers
---

This document describes how a Pivotal Cloud Foundry (PCF) operator can install, configure, and maintain Pivotal Cloud Cache (PCC).

## <a id="requirements"></a> Requirements for Pivotal Cloud Cache

#### Service Network

You must have access to a Service Network in order to install PCC. 

#### Minimum Version Requirements

PCC requires PCF v1.10 with PCF Elastic Runtime v1.10.3 or later or PCF v1.11 with PCF Elastic Runtime v1.11.0 or later.

## <a id="install"></a> Installing and Configuring Pivotal Cloud Cache

Follow the steps below to install PCC on PCF:

1. Download the tile from the [Pivotal Network](https://network.pivotal.io/products/cloud-cache).
1. Click **Import a Product** to import the tile into Ops Manager.
1. Click the **+** symbol next to the uploaded product description.
1. Click on the Cloud Cache tile.
1. Complete all the configuration steps in the [Configure Tile Properties](#settings-config) section below.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to complete the installation of the PCC tile.  

### <a id="settings-config"></a> Configure Tile Properties

Configure the sections listed on the left side of the page. 

![Tile Configuration Sections](tile-configuration-sections.png)

After you complete a section, a green circle containing a check mark appears next to the section name.
Each section name must show this checked green circle before you can complete your installation.

* [Assign AZs and Networks](#azs)
* [Settings: Smoke Tests and Outbound Internet Access](#settings)
* [Syslog](#syslog)
* [Plan](#plan-config)
* [Errands](#errands)
* [Resource Config](#resource-config)
* [Stemcell](#stemcell)

####<a name='azs'></a> Assign Availability Zones and Networks

To select AZs and networks for VMs used by PCC, do the following:

1. Click **Assign AZs and Networks**.

1. Configure the fields on the **Assign AZs and Networks** pane as follows:
   <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr><td><strong>Place singleton jobs in</strong></td>
        <td>Select the region that you want for singleton VMs.</td></tr>
    <tr><td><strong>Balance other jobs in</strong></td>
        <td>Select the AZ(s) you want to use for distributing other GemFire VMs.
            Pivotal recommends selecting all of them.</td></tr>
    <tr><td><strong>Network</strong></td>
        <td>Select your Elastic Runtime network.</td>
    <tr><td><strong>Service Network</strong></td>
        <td>Select the network to be used for GemFire VMs.</td> 
  </table>

1. Click **Save**.

####<a name='settings'></a> Settings: Configure Smoke Test Errands

The smoke-tests errand that runs after tile installation.
The errand verifies that your installation was successful.
By default, the `smoke-test` errand runs on the `system` org and the `p-cloudcache-smoke-test` space.

To select which plan you want to use for smoke tests, do the following:

1. Click **Settings**.

2. Select a plan to use when the `smoke-tests` errand runs.

     Ensure the selected plan is enabled and configured.
     For information about configuring plans, see [Configure Service Plans](#plan-config) below.
     If the selected plan is not enabled, the `smoke-tests` errand fails.

     Pivotal recommends that you use the smallest four-server plan for smoke tests.
     Because smoke tests create and later destroy this plan, using a very small plan reduces installation time.
     ![Configuring Smoke Tests Plan](select-smoke-test-plan.png)

3. Click **Save**.

#### Settings: Configure Outbound Internet Access

By default, outbound internet access is not allowed from service instances. 

If BOSH is configured to use an external blob store, you need allow outbound internet access from service instances.
Log forwarding and backups, which require external endpoints, might also require internet access.

To allow outbound internet access from service instance, do the following:

1. Click **Settings**.

2. Click **Allow outbound internet access from service instances (IaaS-dependent)**.

    ![Outbound Internet Access](allow-outbound-access.png)

3. Click **Save**.

####<a name='syslog'></a> Syslog Forwarding

By default, syslog forwarding is not enabled in PCC.
However, PCC supports forwarding syslog to an external log management service (for example, Papertrail, Splunk, or your custom enterprise log sink).
The broker logs are useful for debugging problems creating, updating, and binding service instances.

To enable remote syslog for the service broker, do the following:

1. Click **Syslog**.
   ![Configuring Log Management Service](syslog-config.png)
2. Configure the fields on the **Syslog** pane as follows:
   <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr><td><strong>Enable Remote Syslog</strong></td>
        <td>Click to select this button.</td></tr>
    <tr><td><strong>External Syslog Address</strong>/td>
        <td>Enter the address or host of the syslog server for sending logs, for example, `logs.example.com`.</td></tr>
    <tr><td><strong>External Syslog Port</strong></td>
        <td>Enter the port of the syslog server for sending logs, for example,` 29279`.</td></tr>
    <tr><td><strong>Enable TLS for Syslog</strong></td>
        <td>Click to enable secure log transmission through TLS.
            Otherwise, remote syslog sends unencrypted logs.</td></tr>
    <tr><td><strong>Permitted Peer for TLS Communication. This is required if TLS is enabled.</strong></td>
        <td>If there are several peer servers that can respond to remote syslog connections, then
            provide a regex, such as `*.example.com`.</td></tr> 
    <tr><td><strong>CA Certificate for TLS Communication</td>
        <td>If the server certificate is not signed by a known authority, for example, an internal syslog server,
            provide the CA certificate of the log management service endpoint.</td></tr>
    <tr><td><strong>Send service instance logs to external</td>
        <td>By default, only the broker logs are forwarded to your configured log management service.
            If you want to forward server and locator logs from all service instances, select this.
            This lets you monitor the health of the clusters, although it generates a large volume of logs.<br><br>
            If you don't enable this, you get only the broker logs which include information about service instance creation, 
            but not about on-going cluster health.</td></tr>
  </table>

3. Click **Save**.

#### <a name="plan-config"></a> Configure Service Plans

You can configure five individual plans for your developers. Select the **Plan 1** through **Plan 5** tabs to configure each of them.

![Configuring a Plan](configure-plan.png)

1. Configure settings for your service plan as described in the table below.

<table>
    <tr><th>Setting</th><th>Instructions</th></tr>
    <tr><td><strong>Service Plan Access</strong></td>
        <td>**Enable Plan** is checked by default. If you do not want to add this plan to the CF service catalog, select **Disable Plan**. You must enable at least one plan.</td></tr>
    <tr><td><strong>Plan Name</strong></td>
        <td>Allows you to customize the name of the plan. This plan name is displayed to developers when they view the service in the Marketplace..</td></tr>
    <tr><td><strong>Plan Description</strong></td>
        <td>Allows you to supply a plan description. The description is displayed to developers when they view the service in the Marketplace.</td>
    <tr><td><strong>CF Service Access</strong></td>
        <td>Enabled by default. This setting determines whether the plan is dispalyed on the marketplace. **Enable Service Access** will display the service plan to all developers in the CF marketplace. **Disable Service Access** will not display the service plan to developers in the CF marketplace and cannot be enabled at a later time. **Leave Service Access Unchanged** will not display the service plan in the CF marketplace by default but can be enabled at a later time.</td> 
    <tr><td><strong>Maximum service instances</strong></td>
        <td>Sets the maximum allowed PCC service instances.</td></tr>
    <tr><td><strong>Maximum servers per cluster</strong></td>
        <td>Allows operators to set an upper limit on the number of servers developers can request.</td>
    <tr><td><strong>Default Number of Servers</strong></td>
        <td>The number of servers a new cluster will have by default if developers do not explicitly specify a number of servers in a service instance.</td> 
    <tr><td><strong>Availability zones for service instances</strong></td>
        <td>Determines which AZs are used for a particular cluster. The members of a cluster are distributed evenly across AZs. NOTE: After you've selected AZs for your service network, you cannot add additional AZs; doing so causes existing service instances to lose data on update.</td></tr>
    <tr><td><strong>VM type for the Locator VMs</strong></td>
        <td>Specifies the type of VM to be used for locator VMs. Recommended: select a VM that has at least 1&nbsp;GB of RAM and 4&nbsp;GB of disk space.</td>
    <tr><td><strong>Persistent disk type for the Locator VMs</strong></td>
        <td>Specifies the size of the persistent disk to be used for locator VMs. Recommended: select 10&nbsp;GB or higher.</td> 
    <tr><td><strong>VM type for the Server VMs</strong></td>
        <td>Specifies the type of VM to be used for server VMs. Recommended: select a VM that has at least 4&nbsp;GB of RAM and 8&nbsp;GB of disk space.</td>
    <tr><td><strong>Persistent disk type for the Server VMs</strong></td>
        <td>Specifies the size of the persistent disk to be used for server VMs. Recommended: select 10 GB or higher.</td> 
  </table>

<p class="note"><strong>Note</strong>: The total size of the cache is directly related to the number of servers and the amount of memory of the selected server VM type.</p>

2. When you finish configuring the plan, click **Save** to save your configuration options.

####<a name='errands'></a> Errands

By default, Post-Deploy and Pre-Delete errands always run. 
Pivotal recommends keeping these defaults.
However, if necessary, you can change these defaults, as follows.

For general information about errands in PCF, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html)
1. Click **Errands**.

2. Change the setting for the errands.
   
     <p class="note"><strong>Note</strong>: If you are using Ops Manager v1.10.0 to v1.10.7, do not set errands to <strong>When Changed</strong>.
     This is because errands set to When Changed sometimes fail to run when the PCC tile changes.</p>

3. Click **Save**.

####<a name='stemcell'></a> Stemcell

Ensure you import the correct type of stemcell indicated on this tab.

You can download the latest available stemcells from [Pivnet](https://network.pivotal.io/products/stemcells/).

## <a id="upgrade"></a> Upgrading Pivotal Cloud Cache

Follow the steps below to upgrade PCC on PCF:

1. Download the new version of the tile from the Pivotal Network.
1. Upload the product to Ops Manager.
1. Click **Add** next to the uploaded product.
1. Click on the Cloud Cache Tile and review your configuration options.
1. Click **Apply Changes**.

## <a id="update-plans"></a> Updating Pivotal Cloud Cache Plans

Follow the steps below to update plans in Ops Manager.

1. Click on the Cloud Cache tile.
1. Click on the plan you want to update under the **Information** section.
1. Edit the fields with the changes you want to make to the plan.
1. Click **Save** button on the bottom of the page.
1. Click on the **PCF Ops Manager** to navigate to the **Installation Dashboard**.
1. Click **Apply Changes**.

Plan changes are not applied to existing services instances until you run the `upgrade-all-service-instances` BOSH errand. You must use the BOSH CLI to run this errand. Until you run this errand, developers cannot update service instances.

Changes to fields that can be overridden by optional parameters, for example  `num_servers` or `new_size_percentage`, will change the default value of these instance properties, but will not affect existing service instances. 

If you change the allowed limits of an optional parameter, for example the maximum number of servers per cluster, existing service instances in violation of the new limits will not be modified.

When existing instances are upgraded, all plan changes are applied to them.

## <a id="uninstall"></a> Uninstalling Pivotal Cloud Cache

To uninstall Pivotal Cloud Cache, follow the steps from below from the **Installation Dashboard**:

1. Click the trash can icon in the bottom-right-hand corner of the tile.
1. Click **Apply Changes**.

## <a id="troubleshooting"></a> Troubleshooting

###<a id='view-statistics'></a> View Statistics Files

You can visualize the performance of your cluster by downloading the statistics files from your servers. These files are located in the persistent store on each VM. To copy these files to your workstation, run the following command:

```
bosh scp server/0:/var/vcap/store/gemfire-server/statistics.gfs /tmp
```

See the Pivotal GemFire [Installing and Running VSD](http://gemfire.docs.pivotal.io/gemfire/tools_modules/vsd/running_vsd.html) topic for information about loading the statistics files into Pivotal GemFire VSD.

###<a id='smoke-test-failures'></a> Smoke Test Failures

#### Error: "Creating p-cloudcache SERVICE-NAME failed"
The smoke tests could not create an instance of GemFire. To troubleshoot
why the deployment failed, use the cf CLI to create a new service instance using the same plan and download the logs of the service deployment from BOSH.

#### Error: "Deleting SERVICE-NAME failed"
The smoke test attempted to clean up a service instance it created and failed to delete the service using the `cf delete-service` command. To troubleshoot this issue, run `bosh logs` to view the logs on the broker or the service instance to see why the deletion may have failed.

#### Error: Cannot connect to the cluster SERVICE-NAME
The smoke test was unable to connect to the cluster.

To troubleshoot the issue, review the logs of your load balancer, and
review the logs of your CF Router to ensure the route to your PCC
cluster is properly registered.

You also can create a service instance and try to connect to it using the
gfsh CLI. This requires creating a service key.

#### Error: "Could not perform create/put on Cloud Cache cluster"
The smoke test was unable to write data to the cluster. The user may not have
permissions to create a region or write data.

#### Error: "Could not retrieve value from Cloud Cache cluster"
The smoke test was unable to read back the data it wrote. Data loss can happen
if a cluster member improperly stops and starts again or if the member machine
crashes and is resurrected by BOSH. Run `bosh logs` to view the logs on the
broker to see if there were any interruptions to the cluster by a service
update.

###<a id='general-connectivity'></a> General Connectivity
#### Client-to-Server Communication

PCC Clients communicate to PCC servers on port 40404 and with
locators on port 55221. Both of these ports must be reachable from the Elastic Runtime network to service the network.

#### Membership Port Range
PCC servers and locators communicate with each other using UDP and TCP. The current port range for this communication is `49152-65535`.

If you have a firewall between VMs, ensure this port range is open.
