---
title: Operator Guide
owner: Cloud Cache Engineers
---

## <a id="requirements"></a> Requirements for Pivotal Cloud Cache
Before installing Pivotal Cloud Cache, please ensure that "Post Deploy Scripts" are enabled on your bosh director. You can enable this feature by checking the "Enable Post Deploy Scripts" checkbox on the "Director Config" page on the "Ops Manager Director" tile.

![Enabling Post Deploy Scripts](enable-post-deploy-scripts.png)

## <a id="install"></a> Installing Pivotal Cloud Cache

Follow the steps below to install Pivotal Cloud Cache on your PCF.

1. Download the tile from the Pivotal Network
1. Upload the product to Ops Manager
1. Click "Add" next to the uploaded product description
1. Click on the Cloud Cache Tile and select configuration options
1. Click "Apply Changes"

## <a id="settings-config"></a> Configuring Tile Properties

### Smoke tests

The **"Plan to use for smoke test"** field allows you to configure the **`smoke-tests`** errand that will be run after tile installation to verify successful installation.

Select a plan from the list below that will be used when the **`smoke-tests`** errand is run. The **`smoke-tests`** errand will use the selected plan so please ensure that the selected plan is enabled on the plan configuration page as it will fail otherwise.

![Configuring Tile Properties](smoke-test-config.png)

### Forwarding logs to a Remote Syslog endpoint

You can configure syslog to foward logs from the broker VM to a remote syslog endpoint. Please note that only TCP endpoints are supported.

The form fields below allow you to configure your remote endpoint. TLS is not required, however, if enabled, you must configure the **"Permitted Peer"**. This permitted peer is used by the local syslog service to verify the remote host's certificate is issued for the expected domain.

The **"CA certificate"** field is not required, however, if provided, it will be used to verify the authenticity of the remote host. If not provided, syslog will use the root CAs from the system. **NOTE:** If your remote syslog endpoint uses a self signed certificate, you should include it here.

**Also, please note that your broker VM must be able to reach your remote syslog endpoint in order to forward logs.**

![Configuring Syslog Properties](syslog-tls-enabled.png)


## <a id="plan-config"></a> Configuring Service Plans

There are 5 individual plans you can configure to be available to developers.  Select the **"Plan 1"** through **"Plan 5"** tabs to configure each of them.

![Configuring a Plan](config-plan-1.png)

The **"Enable Service Plan"** checkbox is checked by default. If you don't want to make this plan available, uncheck it. Note that the smoke test errand will fail if you do not have at least one plan enabled.

The **"Plan Name"** text field allows you to customize plan name. This plan name will be displayed to developers when they view the service in the marketplace.

The **"Plan Description"** text field allows you to enter a plan description that will be displayed to developers.

The **"Service Instance Quota"** configures the maximum number of Cloud Cache clusters that can exist simultaneously.

When a developer creates (or updates) a service instance they will have the option to specify the number of servers in the cluster. The **"Maximum servers per cluster"** field allows the operator to set an upper bound on the number of servers a developer can request. If the developer does not explicitly specify the number of servers in a service instance the new cluster will have the number of servers specified in the **"Default Number of Servers"** field.

The **"Availability zones for service instances"** setting controls which availability zones the members of a cluster are evenly distributed across.

The remaining fields control the vm type and persistent disk type for servers and locators. The total size of the cache is directly related to the number of servers and the amount of memory of the selected server vm type.

When you are done configuring the plan be sure to click **"Save"** to save your configuration options.

## <a id="upgrade"></a> Upgrading Pivotal Cloud Cache

The process for upgrading is similar to that for installing

1. Download the new version of the tile from the Pivotal Network
1. Upload the product to Ops Manager
1. Click "Add" next to the uploaded product
1. Click on the Cloud Cache Tile and review your configuration options
1. Click "Apply Changes"

## <a id="uninstall"></a> Uninstalling Pivotal Cloud Cache

To uninstall the Cloud Cache take the following steps from the "Installation Dashboard"

1. Click the trash can icon in the bottom right hand corner of the tile
1. Click "Apply Changes"

## <a id="troubleshooting"></a> Troubleshooting

### Viewing statistics files

The gemfire statistics files are located in the persistent store on each vm: `/var/vcap/store/gemfire-server/statistics.gfs`.

To `scp` the statistics files to your workstation, you can run the following command:

```
bosh scp server/0:/var/vcap/store/gemfire-server/statistics.gfs /tmp
```

Visit [this link](http://gemfire.docs.pivotal.io/gemfire/tools_modules/vsd/running_vsd.html) for instructions on loading the statistics files into Pivotal GemFire VSD.
