---
title: Troubleshooting for Operators
---

##<a id='view-statistics'></a> View Statistics Files and Logs

You can visualize the performance of your cluster by downloading the statistics files from your servers.
These files are located in the persistent store on each VM.
To copy these files to your workstation, run the command:

```
bosh2 -e BOSH-ENVIRONMENT -d DEPLOYMENT-NAME scp server/0:/var/vcap/store/gemfire-server/statistics.gfs /tmp
```

Alternatively, use `bosh ssh` to access PCC service instance GemFire server VMs
and directly obtain the GemFire logs that reside within the directory
`/var/vcap/sys/log/gemfire-server`.

See the Pivotal GemFire [Installing and Running VSD](http://gemfire.docs.pivotal.io/gemfire/tools_modules/vsd/running_vsd.html) topic for information about loading the statistics files into Pivotal GemFire VSD.

GemFire statistics and log files may instead be obtained by using the
`gfsh export logs` command. 
See [Export gfsh Logs](using-pcc.html#exporting_logs) for details.

##<a id='smoke-test-failures'></a> Smoke Test Failures

### Error: "Creating p-cloudcache SERVICE-NAME failed"
The smoke tests could not create an instance of GemFire. To troubleshoot
why the deployment failed, use the cf CLI to create a new service instance using the same plan and download the logs of the service deployment from BOSH.

### Error: "Deleting SERVICE-NAME failed"
The smoke test attempted to clean up a service instance it created and failed to delete the service using the `cf delete-service` command. To troubleshoot this issue, run BOSH `logs` to view the logs on the broker or the service instance to see why the deletion may have failed.

### Error: Cannot connect to the cluster SERVICE-NAME
The smoke test was unable to connect to the cluster.

To troubleshoot the issue, review the logs of your load balancer, and
review the logs of your CF Router to ensure the route to your PCC
cluster is properly registered.

You also can create a service instance and try to connect to it using the
gfsh CLI. This requires creating a service key.

### Error: "Could not perform create/put on Cloud Cache cluster"
The smoke test was unable to write data to the cluster. The user may not have
permissions to create a region or write data.

### Error: "Could not retrieve value from Cloud Cache cluster"
The smoke test was unable to read back the data it wrote. Data loss can happen
if a cluster member improperly stops and starts again or if the member machine
crashes and is resurrected by BOSH. Run BOSH `logs` to view the logs on the
broker to see if there were any interruptions to the cluster by a service
update.

##<a id='general-connectivity'></a> General Connectivity
### Client-to-Server Communication

PCC Clients communicate to PCC servers on port 40404 and with
locators on port 55221.
Both of these ports must be reachable from the PAS (or Elastic Runtime) network to service the network.

### Membership Port Range
PCC servers and locators communicate with each other using UDP and TCP. The current port range for this communication is `49152-65535`.

If you have a firewall between VMs, ensure this port range is open.

### Port Range Usage Across a WAN

Gateway receivers and gateway senders communicate across WAN-separated
service instances.
Each PCC service instance uses GemFire defaults for the
gateway receiver ports.
The default is the inclusive range of port numbers 5000 to 5499.

Ensure this port range is open when WAN-separated service instances
will communicate.
