---
title: Operator Guide
owner: Cloud Cache Engineers
---


## <a id="install"></a> Installing Pivotal Cloud Cache

Follow the steps below to install Pivotal Cloud Cache(PCC) on your PCF.

1. Download the tile from the Pivotal Network
1. Upload the product to Ops Manager
1. Click "Add" next to the uploaded product description
1. Click on the Cloud Cache Tile and select configuration options
1. Click "Apply Changes"



### <a id="settings-config"></a> Configuring Tile Properties

#### Assign AZs and Networks

* Select an AZ that your singleton VMs will reside in (broker, errands).
* Select the AZs that will be used to distribute the GemFire VMs. We recommend
selecting all of them.
* For "Network" select your ERT network.
* For "Service Network" select the network to be used for GemFire VMs.



#### Settings - Smoke tests

The **"Plan to use for smoke test"** field allows you to configure the **`smoke-tests`** errand that will be run after tile installation to verify successful installation.

Select a plan from the list below that will be used when the **`smoke-tests`** errand is run. The **`smoke-tests`** errand will use the selected plan so please ensure that the selected plan is enabled on the plan configuration page as it will fail otherwise.



![Configuring Tile Properties](settings-config.png)


#### Configuring Service Plans 1 - 5

There are 5 individual plans you can configure to be available to developers.  Select the **"Plan 1"** through **"Plan 5"** tabs to configure each of them.

The **"Enable Plan"** toggle is checked by default. If you don't want to make this plan available, select "Disable Plan". Note that you must enable at least one plan.

The **"Plan Name"** text field allows you to customize the name of the plan. This plan name will be displayed to developers when they view the service in the marketplace.

The **"Plan Description"** text field allows you to enter a plan description that will be displayed to developers in the marketplace.

The **"Service Instance Quota"** configures the maximum number of Cloud Cache clusters that can exist simultaneously.

When a developer creates (or updates) a service instance they will have the option to specify the number of servers in the cluster. The **"Maximum servers per cluster"** field allows the operator to set an upper bound on the number of servers a developer can request. If the developer does not explicitly specify the number of servers in a service instance the new cluster will have the number of servers specified in the **"Default Number of Servers"** field.

The **"Availability zones for service instances"** setting controls which availability zones the members of a cluster are evenly distributed across.

The remaining fields control the vm type and persistent disk type for servers and locators. The total size of the cache is directly related to the number of servers and the amount of memory of the selected server vm type. We recommend the following configuration:

* For the **"VM type for the Locator VMs"** field, select a VM that has at least 1GB of RAM and 4GB disk.
* For the **"Persistent disk type for the Locator VMs"** field select 10GB or higher.
* For the **"VM type for the Server VMs"** field select a VM that has at least 4GB of RAM and 8GB of disk.
* For the **"Persistent disk type for the server VMs"** field select 10GB or higher.

When you are done configuring the plan be sure to click **"Save"** to save your configuration options.

![Configuring a Plan](configure-plan.png)



#### Stemcell
Ensure you've imported the correct type of stemcell indicated on this tab.




## <a id="upgrade"></a> Upgrading Pivotal Cloud Cache

The process for upgrading is similar to that for installing

1. Download the new version of the tile from the Pivotal Network
1. Upload the product to Ops Manager
1. Click "Add" next to the uploaded product
1. Click on the Cloud Cache Tile and review your configuration options
1. Click "Apply Changes"


## <a id="update-plans"></a> Updating Pivotal Cloud Cache Plans

Updating plans can be done on Ops Manager

1. Click on the Cloud Cache tile
1. Click on the plan you want to update under the "Information" section
1. Edit the fields with the changes you want to make to the plan
1. Click the "Save" button on the bottom of the page.
1. Go to the "Installation Dashboard" by clicking on the "Pcf Ops Manager" logo.
1. Click the "Apply Changes" button.

Plan changes will not be applied to existing services instances until you run the `upgrade-all-service-instances` bosh-errand. You will need to use the Bosh CLI to run this errand.

Until this errand is run, developers will not be able to update service instances.

Changes to field that can be overridden by optional parameters (e.g. num_servers, new_size_percentage) will change the default value of these instance properties but will not affect existing service instances. If you change the allowed limits of an optional parameter (e.g. max servers per cluster) existing service instances in violation of the new limits will not be modified.

When existing instances are upgraded, all plan changes will be applied to them.

## <a id="uninstall"></a> Uninstalling Pivotal Cloud Cache

To uninstall the Cloud Cache take the following steps from the "Installation Dashboard"

1. Click the trash can icon in the bottom right hand corner of the tile
1. Click "Apply Changes"

## <a id="troubleshooting"></a> Troubleshooting

### Viewing statistics files

You can visualize the performance of your cluster by downloading the statistics files from your servers. These files are located in the persistent store on each vm. To copy these files to your workstation, you can run the following command:

```
bosh scp server/0:/var/vcap/store/gemfire-server/statistics.gfs /tmp
```

Visit [this link](http://gemfire.docs.pivotal.io/gemfire/tools_modules/vsd/running_vsd.html) for instructions on loading the statistics files into Pivotal GemFire VSD.

### Smoke Test Failures

#### Error: "Creating p-cloudcache <plan> <service name> failed"
The smoke tests were unable to create an instance of GemFire. To troubleshoot
why the deployment failed, create a new service instance using the same plan
with the CF CLI and download the logs of the service deployment from BOSH.

#### Error: "Deleting <service> failed"
The smoke test was attempting to clean up a service instance it created. It
failed to delete the service using `cf delete-service`. Use `bosh logs` to
see the logs on the broker or the service instance to see why the deletion
may have failed.

#### Error: Cannot connect to the cluster <service name>
The smoke test was unable to connect to the cluster.

Check the logs of your load balancer.

Check the logs of your CF Router to ensure the route to your CloudCache
cluster is being properly registered.

You can also create a service instance and try to connect to it using the
Gfsh CLI. This will require creating a service key.

#### Error: "Could not perform create/put on Cloud Cache cluster"
The smoke test was unable to write data to the cluster. The user may not have
permissions to create a region or write data.

#### Error: "Could not retrieve value from Cloud Cache cluster"
The smoke test was unable to read back the data it wrote. Data loss can happen
if a cluster member improperly stops and starts again or if the member machine
crashes and is ressurrected by Bosh. Use `bosh logs` to see the logs on the
broker to see if there were any interruptions to the cluster by a service
update.

### General Connectivity
#### Client to Server comminication

PCC Clients will communicate to PCC servers on port 40404 and with
locators on port 55221. Both of these ports will need to be reachable from ERT network to service network.

#### Membership port range
PCC servers and locators communicate with each other using UDP and TCP. Current port range for this communication is `49152-65535`.

If you have firewall between VMs please ensure this port range is open.
