---
title: gfsh Command Restrictions
---

Developers may invoke all `gfsh` commands.
Given credentials with sufficient permissions,
those `gfsh` command will be executed.
However, not all `gfsh` commands are supported.
An invocation of an unsupported command may lead to
incorrect results.
Those results range from ineffective results to
inconsistent region entries.
**Do not use these listed `gfsh` commands;
each has an explanation why it must not be used.**

These `gfsh start` commands will bring up members contrary to
the configured plan.
Their configuration will be wrong, and their existence is
likely to contribute to data loss.
Since they are not part of the configured plan,
any upgrade will not include them,
and if they were to stop or crash,
the BOSH Director will not restart them.

- gfsh start locator
- gfsh start server

These cluster stop commands will temporarily stop the member
or cluster.
However, the BOSH Director will notice that members are not
running and restart them. So, these commands will be ineffective:

- gfsh stop locator
- gfsh stop server
- gfsh shutdown

These Lucene-related commands are not supported:

- gfsh create lucene index
- gfsh describe lucene index
- gfsh destroy lucene index
- gfsh list lucene indexes
- gfsh search lucene

These JNDI binding-related commands are not supported:

- gfsh create jndi-binding
- gfsh describe jndi-binding
- gfsh destroy jndi-binding
- gfsh list jndi-binding

This configure command will instill configuration contrary to
the already-configured plan.
Since it is not part of the configured plan,
any upgrade will not include it.
Therefore, do not use:

- gfsh configure pdx

The create of a gateway receiver will never be
appropriate for any situation.
The PCC cluster will already have gateway receivers,
and there is no situation in which the cluster can benefit
from creating more.
Therefore, do not use:

- gfsh create gateway receiver

## Do Not Export from a GemFire Cluster to a PCC Cluster

While the expectation is that configuration and data can be
exported from a GemFire cluster and then imported into a
PCC cluster,
this does **not** work.
Using export and import commands will not have the desired
effect of migration from one cluster to another.
The import of cluster configuration requires a state that
cannot be provided by a PCC cluster.
The PCC cluster will already have its configuration,
and upon restart or upgrade, that same configuration will be used.
Given that the configuration cannot be imported,
data import is problematic.
Therefore, do not use:

- gfsh import cluster-configuration
- gfsh import data

<p class="note"><strong>Note</strong>: The restriction here on the use of
the <code>gfsh import data</code> does not apply to the procedure
for migrating from an
existing PCC cluster that does not use TLS for encryption to a PCC cluster
that does use TLS for encryption.
See <a href="./operator.html#migrate-to-TLS">Migrating to a TLS-Enabled Cluster</a>
for that procedure.  </p>
