---
title: Product Snapshot
---

The following table provides version and version-support information about PCC:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.7.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 24, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>GemFire v9.7.2</td>
    </tr>
    <tr>
        <td>Pivotal GemFire Native Client version</td>
        <td>v10.0.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6.x, v2.5.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)* version(s)</td>
        <td>v2.6.x, v2.5.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial 315.41 or a more recent version</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v3.19</td>
    </tr>
</table>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../p-cloud-cache/partials/cloudcache/version-table' %>
