---
title: Product Snapshot
---

The following table provides version and version-support information about PCC:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.8.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 7, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>GemFire v9.8.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6.x and v2.5.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)* version(s)</td>
        <td>v2.6.x and v2.5.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial 315.26 or a more recent version</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.
[//]: # (For more information, see [Pivotal Application Service (PAS) Highlights](http://docs.pivotal.io/pivotalcf/2-0/installing/highlights.html#ert). )
