---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

<p class="note warning"><strong> Warning</strong>: Pivotal Cloud Cache (PCC) 1.9.0 is no longer available for download due to an issue encountered when upgrading to PCC 1.9.0 from version 1.8 PCC service instances that have TLS encryption enabled.</p>

## <a id='v190'></a>v1.9.0

**Release Date:**  September 27, 2019

Features included in this release:

- PCC 1.9 supports TLS encryption across WAN connections

<p class="note warning"><strong>Warning</strong>: This is a breaking change.
Service key format for setting up WAN has changed. See <a href="WAN-bi-TLS-setup.html">Set Up a Bidirectional System with TLS</a>
for more information.
</p>

- PCC 1.9 supports service instance sharing

- PCC runs Pivotal GemFire 9.8.3.
- PCC supports Pivotal Application Service (PAS) 2.7.
- PCC ships with JDK 1.8_192.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
