---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v160'></a>v1.6.0

**Release Date:**  MONTH DATE, 2018

Features included in this release:

- PCC is now running Pivotal GemFire ?.?.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 121 or a more recent version 8 update.
- PCC now supports Pivotal Application Service (PAS) 2.?.

## <a id='v16-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
