---
title: VMware Tanzu GemFire Release Notes
---

## <a id='v1120'></a>v1.12.0

**Release Date:**  July 30, 2020

Features included in this release:

- <%=vars.product_short%> supports <%=vars.app_runtime_full%> versions 2.10 and 2.9.
- <%=vars.product_short%> runs VMware GemFire v9.10.2.

## <a id='v112-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
