---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v1.1.5'></a>v1.1.5

**Release Date:** March 8, 2018

Features included in this release:

- PCC is now running Pivotal GemFire v9.3.0


## <a id='v1.1.4'></a>v1.1.4

**Release Date:** January 26, 2018

Features included in this release:

- Updates stemcell to 3468

## <a id='v1.1.3'></a>v1.1.3

**Release Date:** January 9, 2018

Features included in this release:

-  Upgraded Pivotal GemFire to v9.2.0 to address CVEs: CVE-2017-9796, CVE-2017-9795, and CVE-2017-12622

## <a id='v1.1.2'></a>v1.1.2

**Release Date:** November 2, 2017

Features included in this release:

- Spring Session Data Gemfire 2.0.0.M1 compatible
- When the AZs in the tile configuration are updated and the upgrade-all-service-instances errand is run, existing instances will not change AZs. However new instances that are created will use the newly configured AZs.

Bug fixes:

 - Pulse bug: Upgrades failed when a connection to pulse was still open during upgrade.
 - Service Instances failed to come up when gfsh start server was slow.
 - When smoke-tests failed the would print the service-key exposing credentials.

## <a id='v1.1.1'></a>v1.1.1

**Release Date:** August 10, 2017

Bug fixes:

 - Improved password requirement of the testing utility
 - Increased `monit` for smoke tests to be successful
 - Improved kill command to force kill in the event of `gfsh stop` failure
 - Fixed upgrading a cloud cache service failure when `syslog tls` is disabled and `Send service instance logs to external syslog` is enabled

## <a id='v1.1.0'></a>v1.1.0

Features included in this release:

- HTTP session caching is supported in Pivotal Cloud Cache (PCC).
- PCC is compatible with PCF v1.10 and v1.11.
- PCC signs BOSH deployments with SHA-2 to prevent certificate collisions.
- Syslog setup supports standard RFC 5424 format.
