---
title: Pivotal Cloud Cache for PCF Release Notes
owner: Cloud Cache Engineers
---

## <a id='v120'></a>v1.2.0

**Release Date:** September 29, 2017

Features:

<!-- * feature
* feature
* feature
* feature
 -->

Known issues:

* Issue. _Workaround_: SSH into the missing locator VM and run the monit restart command.

## <a id="16x"></a>Release Notes for Earlier Versions

For v1.1.x versions of PCC, see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-1/index.html#release-notes) in the v1.1 version of this documentation.

For v1.0.x versions of PCC, see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-0/index.html#release-notes) in the v1.0 version of this documentation.
