---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v190'></a>v1.9.0

**Release Date:**  September 13, 2019

Features included in this release:

- PCC 1.9 supports TLS encryption across WAN connections
- PCC 1.9 supports read-only service instance sharing

- PCC runs Pivotal GemFire 9.8.3.
- PCC supports Pivotal Application Service (PAS) 2.6.
- PCC ships with JDK 1.8_192.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
