---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v182'></a>v1.8.2

**Release Date:**  January 31, 2020

Features included in this release:

- Fixed a bug which prevented a Cloud Cache v1.8.1 TLS-enabled service instance
from upgrading to Cloud Cache v1.9.
- Cloud Cache supports CA certificate rotation.
See [Managing Certificates](rotating-ca.html) for details.
- Upgraded the underlying Go language version for various internal components.
- Cloud Cache now runs Pivotal GemFire 9.8.6.

## <a id='v180'></a>v1.8.1

**Release Date:**  August 8, 2019

Features included in this release:

- Cloud Cache now runs Pivotal GemFire 9.8.3.

## <a id='v180'></a>v1.8.0

**Release Date:**  June 7, 2019

Features included in this release:

- Service instances have increased resiliency with the ability to make a backup and then use the backup to restore a service instance.
The service key provides a string that developers can use
when connecting to the service instance using gfsh.
- Improved performance by tuning the VM network configuration.
- Fixed a bug that caused erroneous log entries for service instances
with TLS encryption enabled.
- The placement of dev plan service instances are now randomized within AZs.
- Cloud Cache now runs Pivotal GemFire 9.8.1.
- Cloud Cache now supports Pivotal Application Service (PAS) 2.6.
- Cloud Cache now ships with JDK 1.8_192.

## <a id='v18-known-issues'></a>Known Issues

- Pivotal Cloud Cache 1.8.0, which was based on Pivotal GemFire 9.8.1, was withdrawn due to an SSL
communication issue that caused slow performance and unstable intracluster connections when SSL was
configured and conserve-sockets was set to false. Upgrading to Pivotal Cloud Cache 1.8.1 eliminates
this issue.

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
