---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v120'></a>v1.3.0

**Release Date:**  December 31, 2017

Features included in this release:

Known issues in this release:

- If you created service keys on PCC prior to installing 1.3.0, you will need to delete and recreate the service keys so that the users are assigned roles in the cluster. You will also need to rebind all your apps.

## <a id="16x"></a>Release Notes for Earlier Versions

For v1.2.x versions of PCC, see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-2/index.html#release-notes) in the v1.1 version of this documentation.

For v1.1.x versions of PCC, see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-1/index.html#release-notes) in the v1.1 version of this documentation.

For v1.0.x versions of PCC, see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-0/index.html#release-notes) in the v1.0 version of this documentation.
