---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v170'></a>v1.7.0

**Release Date:**  March 29, 2019

Features included in this release:

- PCC permits authentication and authorization using your
enterprise single sign-on system, such as LDAP.
- PCC requires TLS encryption for using gfsh and Pulse.
Follow the instructions in [Preparing for TLS](prepare-TLS.html) to
set up TLS encryption.
- The new `ReplyWaitsInProgress` metric allows operators to 
identify unhealthy cluster members or network connectivity issues.
- If a ClamAV or File Integrity Monitor is detected,
available memory for GemFire servers is reduced to allow enough memory
for these PCF add-ons.
This prevents a failure during PCC service instance creation.
- The small footprint plan may be scaled up and down,
and metrics are available.
- Simplified TLS setup for Spring Boot applications,
as detailed in [Developing an App Under TLS](tls-enabled-app.html).
- Metrics can be generated for a single PCC service instance,
and are available with log-cache.
- PCC now ships with JDK 1.8_192.
- PCC now runs Pivotal GemFire 9.7.1.
- PCC now supports Pivotal Application Service (PAS) 2.5.

## <a id='v16-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
