---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v113Beta'></a>v1.13 Beta

**Release Date:**  August 31, 2020

Features included in this release:

- The service gateway permits apps running outside the services foundation
to communicate with the <%=vars.product_short%> service instance.
See [The App's Location](architecture.html#AppLocation) for an
introduction to the service gateway.
- This beta version of <%=vars.product_full%> runs
build 312 of Apache Geode.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.10.

