---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v192'></a>v1.9.2

**Release Date:**  January 31, 2020

Features included in this release:

- Cloud Cache supports CA certificate rotation.
See [Managing Certificates](https://docs.pivotal.io/p-cloud-cache/1-9/rotating-ca.html) for details.
- Fixed a bug which caused installation to fail when uppercase letters were
used in network names.
- Upgraded the underlying Go language version for various internal components.
- Cloud Cache 1.9.2 runs Pivotal GemFire 9.8.6.

## <a id='v191'></a>v1.9.1

**Release Date:**  October 24, 2019

Features included in this release:

- Cloud Cache 1.9.1 runs Pivotal GemFire 9.8.4.
- The `cf marketplace` command displays the installed Cloud Cache and GemFire versions.
- Fixed a bug which prevented successful upgrade from Cloud Cache 1.8 to Cloud Cache 1.9.0
for version 1.8 service instances that have TLS encryption enabled.
- Fixed a bug in the `mem-check` post deploy errand that occurred when
more than 50 service instances were present.

<p class="note"><strong>Note</strong>: Letters within the service network
name must be lower case letters for v1.9.1.</p>

## <a id='v190'></a>v1.9.0

<p class="note warning"><strong> Warning</strong>: Cloud Cache 1.9.0 is no longer available for download due to an issue encountered when upgrading to Cloud Cache 1.9.0 from version 1.8 Cloud Cache service instances that have TLS encryption enabled.</p>

**Release Date:**  September 27, 2019

Features included in this release:

- Cloud Cache 1.9 supports TLS encryption across WAN connections

<p class="note warning"><strong>Warning</strong>: This is a breaking change.
Service key format for setting up WAN has changed. See <a href="WAN-bi-TLS-setup.html">Set Up a Bidirectional System with TLS</a>
for more information.
</p>

- Cloud Cache 1.9 supports service instance sharing

- Cloud Cache runs Pivotal GemFire 9.8.3.
- Cloud Cache supports Pivotal Application Service (PAS) 2.7.
- Cloud Cache ships with JDK 1.8_192.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
