---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v141'></a>v1.4.1

**Release Date:**  November 26, 2018

Features included in this release:

- **Security Vulnerability**: PCC depends upon the Pivotal Cloud Foundry On Demand Services Broker, which addressed the following security vulnerability:

    - [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759):
    On Demand Services SDK timing attack vulnerability
- PCC is now running Pivotal GemFire 9.3.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.

## <a id='v140'></a>v1.4.0

**Release Date:**  June 1, 2018

Features included in this release:

- PCC is now running Pivotal GemFire 9.3.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- PCC now supports connecting more than two clusters via WAN.
This facilitates implementing design patterns such as Hub-and-Spoke.
- The new `mem-check` BOSH errand generates a report containing
the current data consumption by PCC service instances and total JVM sizes.
- PCC now supports Pivotal Application Service (PAS) 2.2, 2.1, and 2.0.
- PCC selects minimum default values for VM types on PAS 2.2, 2.1, and 2.0.

## <a id='v14-known-issues'></a>Known Issues

- If you upgrade to PCC v1.3 as part of the process of upgrading to this
1.4 release, and you created service keys on PCC before you installed v1.3:
delete and recreate the service keys so that users are properly
assigned roles for authentication and authorization within the cluster.
Then, rebind all your apps.
For information about how to perform these tasks,
see [Delete a Service Key](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html),
[Create Service Keys](accessing-instance.html#create-service-key),
and [Bind an App to a Service Instance](using-pcc.html#bind-service).

- A Pulse topology diagram might not be accurate and might show more members than are actually in the cluster. However, the numerical value displayed on the top bar is accurate.

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
