---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v1102'></a>v1.10.2

**Release Date:**  July 13, 2020

Features included in this release:

- Cloud Cache runs Pivotal GemFire 9.9.2.
- <%=vars.product_short%> ships with JDK 1.8_???.

## <a id='v1101'></a>v1.10.1

**Release Date:**  February 27,2020

Features included in this release:

- Fixed an issue that could cause an SSL-enabled cluster to run out of memory
due to improperly garbage-collected SSL buffer references.
- Fixed a bug which caused the smoke test errand to fail
when a dev-plan name was changed.
- Upgraded the underlying Go language version for various internal components.
- Cloud Cache runs Pivotal GemFire 9.9.1.

## <a id='v1100'></a>v1.10.0

**Release Date:**   December 17, 2019

<p class="note warning"><strong> Warning</strong>: 
Cloud Cache 1.10.0 is no longer available for download due to an issue where SSL buffer references are not collected by the garbage collector in situations where SSL is enabled, causing the cluster to run out of memory. Upgrade to Cloud Cache 1.10.1, which fixes the issue.
</p>


Features included in this release:

- Performance improves dramatically by upgrading to incorporate Pivotal GemFire 9.9.0.
Read about the improvements in Helena Bales' blog post: [Benchmarking Apache Geode's Performance](http://engineering.pivotal.io/post/benchmarking-apache-geodes-performance).
- An experimental REST API for cluster management permits the
creation of regions in development environments.
The `"management"` URL in your service key describes the API capabilities.
- The maximum number of connections to servers has increased
from 800 to 5000.
- Fixed a bug in the mem-check errand such that it no longer limits
the memory consumption computation to the first 50 service instances.
- Output from the `cf marketplace` command has been improved to more
clearly show the component versions.
- Cloud Cache runs Pivotal GemFire 9.9.0.
- Cloud Cache supports Pivotal Application Service (PAS) 2.8.
- Cloud Cache ships with JDK 1.8_222.

## Quick App Development

A quick way to try out Cloud Cache is by using 
[Pivotal Web Services](https://run.pivotal.io/) (PWS)
to spin up a Cloud Cache service instance from the PWS marketplace.
Cloud Cache on PWS is intended for use in proof of concept designs only.
It is not for production workloads.
There are no high availability guarantees (or any other guarantees)
provided for Cloud Cache service instances on PWS.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
