---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v170'></a>v1.7.0

**Release Date:**  Month Date, 2019

Features included in this release:

- PCC requires TLS encryption for using gfsh and Pulse.
Follow the instructions in [Preparing for TLS](prepare-TLS.html) to
set up TLS encryption.
- PCC now ships with JDK 1.8_191.
- PCC now runs Pivotal GemFire 9.?.
- PCC now supports Pivotal Application Service (PAS) 2.?.

## <a id='v16-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
