---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v113'></a>v1.13

**Release Date:**  December 17, 2020

Features included in this release:

- The service gateway permits apps running outside the services foundation
(TAS) to communicate with the <%=vars.product_short%> service instance.
See [The App's Location](architecture.html#AppLocation) for an
introduction to the service gateway.
- This version of <%=vars.product_full%> runs Apache Geode v1.13.1.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.10.

