---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v133'></a>v1.3.3

**Release Date:**  July 11, 2018

Features included in this release:

- PCC is now running Pivotal GemFire v9.3.0. This release supports
upgrades from PCC v1.3.1 to this 1.3.3 version.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- The cluster operator role adds the `CLUSTER:MANAGE` permission
to its already-defined permissions.
- This release improves performance and maintains high availability
for WAN-separated clusters by creating a gateway receiver on each
server, instead of creating only one gateway receiver per cluster.
- The JDK included with this PCC release is v1.8.0_170.

## <a id='v132'></a>v1.3.2 (Limited availability)

**Release Date:**  March 21, 2018

Features included in this release:

- This limited-availability patch release is running Pivotal GemFire v9.2.0.
Inline caching is not supported,
and no JAR files may be deployed to servers.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- This limited-availability patch release exists _only_ to support an upgrade
from PCC v1.3.0 to this v1.3.2 version.


## <a id='v131'></a>v1.3.1

**Release Date:**  March 5, 2018

Features included in this release:

- PCC is now running Pivotal GemFire v9.3.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- Inline caching is supported,
which permits both write behind and write through designs for
interaction with a backend data store. 

Bug fixes:

- Eliminated a deadlock situation that occurred when recovering all locators, due to the use of `gfsh configure pdx`.


## <a id='v130'></a>v1.3.0

**Release Date:**  January 31, 2018

Features included in this release:

- Support for WAN, asynchronously replicating data across Pivotal Cloud Foundry (PCF) deployments
- Secure GemFire processes using BOSH Process Manager (BPM)
- Support for region persistence
- A single node cluster Dev Plan
- IPsec supported
- Support for viewing serialized objects in gfsh using query
- PCC is now running GemFire v9.2.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- Cluster users are now appended with a unique identifer and are assigned roles

Bug fixes:

- For slow IaaSes, where the server takes a long time to start up, the cluster fails to start.
- Fixed issue where two different tiles could be installed with the same resource name,
  preventing creation of service instances.


## <a id="13-known-issues"></a>Known Issues

- If you are upgrading to Pivotal Cloud Cache (PCC) v1.3.0 and you created service keys on PCC before you installed v1.3.0:
  delete and recreate the service keys so that users are assigned roles in the cluster. Then, rebind all your apps.
  For information about how to perform these tasks, see [Delete a Service Key](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html#delete), 
  [Create Service Keys](developer.html#create-service-key), and [Bind an App to a Service Instance](developer.html#bind-service).

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.

## <a id="13x"></a>Release Notes for Earlier Versions

For v1.2.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-2/index.html#release-notes) in the v1.2 version of this documentation.

For v1.1.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-1/index.html#release-notes) in the v1.1 version of this documentation.

For v1.0.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-0/index.html#release-notes) in the v1.0 version of this documentation.
