---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v114'></a>v1.14

**Release Date:**  Month date, 2020

Features included in this release:

- Version history item goes here.
- This version of <%=vars.product_full%> runs Apache Geode v1.13.1.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.10.

