---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v180'></a>v1.8.0

**Release Date:**  MONTH DATE, 2019

Features included in this release:

- PCC now ships with JDK 1.8_192.
- PCC now runs Pivotal GemFire 9.?.
- PCC now supports Pivotal Application Service (PAS) 2.?.

## <a id='v18-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
