---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v151'></a>v1.5.1

**Release Date:**  Month date, 2018

Features included in this release:

- PCC is now running Pivotal GemFire 9.6.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 121 or a more recent version 8 update.
- PCC now runs with a Xenial stemcell, version 97.22 or a more recent version.
- Users upgrading from the PCC limited availability v1.3.2 release will
automatically upgrade to this PCC v1.5.1 release without upgrading to v1.4.
Make sure to upgrade to PAS/Ops Manager v2.2 prior to doing
the upgrade from PCC limited availability v1.3.2 to PCC v1.5.0. 

## <a id='v150'></a>v1.5.0

**Release Date:**  October 22, 2018

Features included in this release:

- TLS authentication and encryption may be enabled for all
communication within a PCC service instance.
The authentication is one way, with apps authenticating servers.
- A PCC service instance stores credentials in CredHub
when sharing the credentials with applications.
- The upgrade of service instances can be executed in parallel,
after trying the upgrade on a set of canary instances first.
- BOSH errands are colocated with the Broker VM, which decreases the installation time for the tile.
- The dev plan may be selected for use in smoke tests.
- PCC is now running Pivotal GemFire 9.6.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 121 or a more recent version 8 update.
- The GemFire-Greenplum Connector v3.3.0 makes it possible to import and
export PCC's region entries from and to a Greenplum database table.
See [Use the GemFire-Greenplum Connector](using-pcc.html#use-GGC).
- PCC now supports Pivotal Application Service (PAS) 2.3.
- Users upgrading from the PCC limited availability v1.3.2 release will
automatically upgrade to this PCC v1.5.0 release without upgrading to v1.4.
Make sure to upgrade to PAS/Ops Manager v2.2 prior to doing
the upgrade from PCC limited availability v1.3.2 to PCC v1.5.0. 

## <a id='v15-known-issues'></a>Known Issues

- The locator log of a TLS-enabled cluster will grow over
time with repeated logging of this exception at 10-second intervals:

    ```
    [info 2018/08/14 23:28:41.343 UTC locator-ID
    <locator request thread[3]> tid=0x75] Exception in processing request
    from 127.0.0.1
    javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake
        at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:1002)
        at sun.security.ssl.SSLSocketImpl.performInitialHandshake(SSLSocketImpl.java:1385)
        at sun.security.ssl.SSLSocketImpl.startHandshake(SSLSocketImpl.java:1413)
        at sun.security.ssl.SSLSocketImpl.startHandshake(SSLSocketImpl.java:1397)
        at org.apache.geode.internal.net.SocketCreator.configureServerSSLSocket
        (SocketCreator.java:1013)
        at org.apache.geode.distributed.internal.tcpserver.TcpServer
        .lambda$processRequest$0(TcpServer.java:367)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at java.lang.Thread.run(Thread.java:748)
    Caused by: java.io.EOFException: SSL peer shut down incorrectly
        at sun.security.ssl.InputRecord.read(InputRecord.java:505)
        at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:983)
        ... 8 more
    ```

    This exception from the monit port check of the locator process may be ignored.
- If you upgrade to PCC v1.3 as part of the process of upgrading to this
1.5 release, and you created service keys on PCC before you installed v1.3:
delete and recreate the service keys so that users are properly
assigned roles for authentication and authorization within the cluster.
Then, rebind all your apps.
For information about how to perform these tasks,
see [Delete a Service Key](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html),
[Create Service Keys](accessing-instance.html#create-service-key),
and [Bind an App to a Service Instance](using-pcc.html#bind-service).

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
