---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v1100'></a>v1.10.0

**Release Date:**  <%=vars.release_date%>

Features included in this release:

- PCC runs Pivotal GemFire <%=vars.product_version_gemfire%>.
- PCC supports Pivotal Application Service (PAS) 2.8.
- PCC ships with JDK 1.8_192.

## <a id='v19-known-issues'></a>Known Issues

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
