---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v130'></a>v1.3.0

**Release Date:**  January 30, 2018

Features included in this release:

- Support for WAN, asynchronously replicating data across Pivotal Cloud Foundry (PCF) deployments
- Secure GemFire processes using BOSH Process Manager (BPM)
- A single node cluster Dev Plan
- IPsec supported
- Support for viewing serialized objects in gfsh using query
- PCC is now running GemFire v9.2.0
- Cluster users are now appended with a unique identifer and are assigned roles

Bug fixes:

- For slow IaaSes, where the server takes a long time to start up, the cluster fails to start.
- Fixed issue where two different tiles could be installed with the same resource name,
  preventing creation of service instances.


Known issues in this release:

- If you are upgrading to Pivotal Cloud Cache (PCC) v1.3.0 and you created service keys on PCC before you installed v1.3.0:
  delete and recreate the service keys so that users are assigned roles in the cluster. Then, rebind all your apps.
  For information about how to perform these tasks, see [Delete a Service Key](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html), 
  [Create Service Keys](developer.html#create-service-key), and [Bind an App to a Service Instance](developer.html#bind-service).

## <a id="16x"></a>Release Notes for Earlier Versions

For v1.2.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-2/index.html#release-notes) in the v1.2 version of this documentation.

For v1.1.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-1/index.html#release-notes) in the v1.1 version of this documentation.

For v1.0.x versions of PCC,
see [Release Notes](http://docs.pivotal.io/p-cloud-cache/1-0/index.html#release-notes) in the v1.0 version of this documentation.
