---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v162'></a>v1.6.2

**Release Date:**  Month date, 2019

Features included in this release:

- <p class="note breaking"><strong>Breaking Change: </strong>This patch release increases system security by requiring
TLS encryption for using gfsh and Pulse.
Follow the steps within [Preparing for TLS](prepare-TLS.html)
prior to installing the PCC tile.</p>
- PCC uses Pivotal GemFire 9.6.1.

## <a id='v161'></a>v1.6.1

**Release Date:**  January 9, 2019

Features included in this release:

- PCC now ships with OpenJDK 1.8_192 instead of the equivalent Oracle JDK.
- PCC uses Pivotal GemFire 9.6.
- PCC supports Pivotal Application Service (PAS) 2.4.

## <a id='v160'></a>v1.6.0

**Release Date:**  December 19, 2018

Features included in this release:

- The new Small Footprint Plan, which uses fewer VMs than other plans,
is available for use in production.
- PCC now ships with JDK 1.8_191.
- PCC now runs Pivotal GemFire 9.6.
- PCC now supports Pivotal Application Service (PAS) 2.4.

## <a id='v16-known-issues'></a>Known Issues

- Installations using HTTP session state replication have a known issue
issue and workaround to correct the issue.
The HTTP session module creates its region that holds metadata on only
one server within a cluster.
The region needs to be hosted on all the servers.

    To correct the issue on a running cluster, connect to the cluster
    using the GemFire cluster operator credentials,
    and run a single `gfsh` command
    to create the metadata region on all servers.
    The command has the form:

    ```
    create region --name=REGION-NAME --type=REGION-SHORTCUT \
     --enable-statistics \
     --entry-idle-time-custom-expiry=org.apache.geode.modules.util.SessionCustomExpiry
    ```
    If the metadata region's name or type have not been changed from their
    default, use this `gfsh` command:

    ```
    gfsh>create region --name=gemfire_modules_sessions --type=PARTITION_REDUNDANT \
     --enable-statistics \
     --entry-idle-time-custom-expiry=org.apache.geode.modules.util.SessionCustomExpiry
    ```

    For installations that have changed the metadata region's name or type,
    substitute the changed values for `REGION-NAME` and `REGION-SHORTCUT`
    in the command.

    You can verify that the region is hosted on all servers with the
    `gfsh` command:
    
    ```
    gfsh>describe region --name=gemfire_modules_sessions
    ```
- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
