---
title: Pivotal Cloud Cache Release Notes
owner: Cloud Cache Engineers
---

## <a id='v142'></a>v1.4.2

**Release Date:**  January 2, 2019

Features included in this release:

- PCC now ships with OpenJDK 1.8_192 instead of the equivalent Oracle JDK.
- PCC uses Pivotal GemFire 9.3.0.

## <a id='v141'></a>v1.4.1

**Release Date:**  November 27, 2018

Features included in this release:

- **Security Vulnerability**: PCC depends upon the Pivotal Cloud Foundry On Demand Services Broker, which addressed the following security vulnerability:

    - [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759):
    On Demand Services SDK timing attack vulnerability
- **Security Vulnerability**: PCC depends upon an included Java SE,
which addressed the following security vulnerabilities:
    - [CVE-2018-3149](https://nvd.nist.gov/vuln/detail/CVE-2018-3149)
    - [CVE-2018-3180](https://nvd.nist.gov/vuln/detail/CVE-2018-3180)
    - [CVE-2018-3183](https://nvd.nist.gov/vuln/detail/CVE-2018-3183)
    - [CVE-2018-3214](https://nvd.nist.gov/vuln/detail/CVE-2018-3214)
- PCC is now running Pivotal GemFire 9.3.0.

## <a id='v140'></a>v1.4.0

**Release Date:**  June 1, 2018

Features included in this release:

- PCC is now running Pivotal GemFire 9.3.0.
Using `gfsh` with this GemFire version requires a JDK or JRE
with Java 8 release 92 or a more recent version 8 update.
- PCC now supports connecting more than two clusters via WAN.
This facilitates implementing design patterns such as Hub-and-Spoke.
- The new `mem-check` BOSH errand generates a report containing
the current data consumption by PCC service instances and total JVM sizes.
- PCC now supports Pivotal Application Service (PAS) 2.2, 2.1, and 2.0.
- PCC selects minimum default values for VM types on PAS 2.2, 2.1, and 2.0.

## <a id='v14-known-issues'></a>Known Issues


- The HTTP session module creates its region that
holds metadata on only one server within a cluster.
The region needs to be hosted on all the servers.
To correct the issue on a running cluster, 
alter the region holding the metadata twice,
restarting the cluster between the two gfsh `alter region` commands.

1. Connect to the cluster with the gfsh `connect` command using the
cluster operator credentials.

2.  The first alteration temporarily sets an unused attibute to the value 1,
and the alteration command will fail on all servers but the single server
that hosted the metadata region.
However, 
the correct metadata region configuration will be propagated to all servers. 
The command has the form:

    ```
    alter region --name=REGION-NAME --eviction-max=1
    ```

    If the metadata region's name has not been changed from its default,
    use this gfsh command:

    ```
    gfsh>alter region --name=gemfire_modules_sessions --eviction-max=1
    ```
    For installations that have changed the metadata region's name,
    substitute the changed value for `REGION-NAME` in the command.
    
3. With CF operator credentials,
restart the cluster following instructions in
[Restarting a Cluster](update-instance.html#cluster-restart).

4.  The second alteration resets the unused attribute to its original
value of 1.
The command has the form:

    ```
    alter region --name=REGION-NAME --eviction-max=0
    ```
    If the metadata region's name has not been changed from its default,
    use this gfsh command:

    ```
    gfsh>alter region --name=gemfire_modules_sessions --eviction-max=0
    ```

5. You can verify that the region is hosted on all servers with a
gfsh command of the form:

    ```
    describe region --name=REGION-NAME
    ```

- If you upgrade to PCC v1.3 as part of the process of upgrading to this
1.4 release, and you created service keys on PCC before you installed v1.3:
delete and recreate the service keys so that users are properly
assigned roles for authentication and authorization within the cluster.
Then, rebind all your apps.
For information about how to perform these tasks,
see [Delete a Service Key](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html),
[Create Service Keys](accessing-instance.html#create-service-key),
and [Bind an App to a Service Instance](using-pcc.html#bind-service).

- A Pulse topology diagram might not be accurate and might show more members than are actually in the cluster. However, the numerical value displayed on the top bar is accurate.

- Current versions of the Cloud Foundry Command Line Interface (CLI) tool
have a known bug that omits the documentation URL when
using the `cf service` command.
