---
title: A Sample Java Client App for PCC
---

<a id="sample-java-app-connect"></a>

<a href="https://github.com/cf-gemfire-org/cloudcache-sample-app.git">This sample Java app</a> demonstrates how to connect an app to a service instance.

The code assumes that you have already created a region named `test` in your cluster using `gfsh` as described in <a href="./developer.html#create-regions">Create Regions with gfsh</a>. 

<ol>
<li>Copy, update, and save the following sample manifest:
<pre class="terminal">
---
applications:
- name: sample_app
  path: build/libs/cloudcache-sample-app-1.0-SNAPSHOT-all.jar
  no-route: true
  health-check-type: none
  services:
  - service0  # replace this with the name of your service. Please refer
              # to docs above on how to create a cloud cache service instance.
</pre></li>
<li>Update the <code>gradle.properties</code> with your username and password used for <a href="https://commercial-repo.pivotal.io">https://commercial-repo.pivotal.io</a></li>
<li>Run <code>cf push -f PATH-TO-MANIFEST</code> to deploy the app. Replace <code>PATH-TO-MANIFEST</code> with the path to the sample manifest you created.</li>
<li>After you push the app and it starts, you should see an entry in the <code>test</code> region where <code>key=1</code> and <code>value=one</code>.</li>
</ol>
