---
title: A Spring Boot App
---
<a id="sample-SB1"></a>

Example spring boot app.
Uses PCC as data store.

On GitHub:
[PCC-Sample-App-PizzaStore](https://github.com/pivotal-cf/PCC-Sample-App-PizzaStore). On _master_ branch.
Directions for running the app are in the `README.md` file.

What it does.

This app demonstrates two distinct features of PCC:

- Running an app on a TLS-enabled cluster within PCC.
- GemFire continuous queries as used by a Spring Boot app.


