---
title: A Spring Boot App
---
<a id="sample-SB1"></a>

Example spring boot app.

On GitHub:
[PCC-Sample-App-PizzaStore](https://github.com/pivotal-cf/PCC-Sample-App-PizzaStore/tree/spring-boot). Need _spring-boot_ branch.
Directions for running the app are in the `README.md` file
in the _spring-boot_ branch.

What it does.

This app demonstrates two distinct features of PCC:

- Running an app on a TLS-enabled cluster within PCC.
- GemFire continuous queries as used by a Spring Boot app.


