---
title: Uninstalling Pivotal Cloud Cache
---

<a id="uninstall"></a>

To uninstall PCC, follow the steps from below from the **Installation Dashboard**:

1. Click the trash can icon in the bottom-right-hand corner of the tile.
1.  Optionally, if you are using Ops Manager v2.3 or later, click **Review Pending Changes** (see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html)).
1.  Click **Apply Changes**.

