---
title: Upgrading Pivotal Cloud Cache
---

Upgrade minor release versions from your currently deployed version
to the target version in sequential order.
For example, Pivotal Cloud Cache (PCC) v1.2 must be upgraded to PCC v1.3
prior to upgrading to PCC v1.4.
Note that each PCC release is compatible with two
Pivotal Application Service (PAS) and Ops Manager versions,
as specified in the [Product Snapshot and Version Compatibility](product-snapshot.html).
Incorporate those upgrades to PAS and Ops Manager in your upgrade process 
as required to maintain compatibility,
as described in
[Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/customizing/upgrading-pcf.html).

Follow the steps below to upgrade PCC:

1. Download the new version of the tile from the Pivotal Network.
1. Upload the product to Ops Manager.
1. Click **Add** next to the uploaded product.
1. Click on the PCC tile and configure the upgrade options.
    - To try the upgrade on a small number of service instances first, set the quantity of canary service instances as described in [Service Instance Upgrades](install-configure.html#parallel-upgrades). 
    - Set the number of instances that are to be upgraded in parallel as described in [Service Instance Upgrades](install-configure.html#parallel-upgrades).
    - Under the **Errands** section, choose the **Default (On)** value
    for the **Upgrade All Service Instances** post-deploy errand.
    **Save** the change.

1.  Click **Review Pending Changes** (see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html)).
1.  Click **Apply Changes**.

##<a id='enable-individual-upgrades'></a>Enable Individual Service Instance Upgrades

The default upgrade path upgrades all service instances as a result of
a tile upgrade.
This operation can take a lengthy amount of time.
To expedite upgrades,
an operator can permit developers to upgrade their own service instances
once the tile has been upgraded.

<<<<<<< HEAD
An operator enables individual service instance upgrades during
=======
An operator enables individual service instance upgrades during 
>>>>>>> v1.9-branch
tile installation.
This feature requires PAS/Ops Manager 2.7 or a higher version
and works for upgrading from PCC 1.9.0 to a higher version.

Within the PCC tile,
in the **Errands** section,
the default for the
**Upgrade All Service Instances** errand,
which upgrades all service instances, appears as:

![Individual Service Instance Upgrades Disabled](indiv-upgrades-disabled.png)

To change the state of this errand such that individual
service instance upgrades are enabled,
choose **Off** for this errand:

![Individual Service Instance Upgrades Enabled](indiv-upgrades-enabled.png)

Click **Save**.

Once individual service instance upgrades are enabled,
the developer upgrades an individual service instance following
the instructions in [Upgrade a Single Service Instance](dev-upgrade.html).
