---
title: Set Up a Bidirectional System with TLS
---

This section describes how to set up a bidirectional WAN connection, using TLS encryption,
between two PCC instances in two different foundations. 
A bidirectional connection like this is needed if you wish to implement an active-active pattern, as described in
[Bidirectional Replication Across a WAN](design-patterns.html#active-active-WAN-pattern).

##<a id="wan-bi-tls-assumptions"></a> Assumptions

- You have two PCF foundations, A and B, with a network connection between them.
- You wish to establish a TLS-encrypted WAN connection between a service instance on Foundation A and a service instance on Foundation B.
- The [Preparing for TLS](prepare-TLS.html) procedure has been followed for each foundation, establishing a CredHub “/services/tls_ca” certificate for each.
- The [Establishing Mutually Trusted TLS Credentials](WAN-mutual-credentials.html) procedure has been followed, establishing mutually trusted TLS credentials between Foundations A and B.

## <a id="wan-create-clusters"></a>Create Clusters

1. Create a service instance, Cluster A, using the Foundation A Cloud Foundry credentials.
Enable TLS by specifying the `-c` option with the argument `"tls" : true`. 
This example also uses the `-c` option to set the `distributed_system_id` of Foundation A:

    <pre class='terminal'>
    $ cf create-service p-cloudcache wan-cluster wan1 -c '{
    "tls" : true,
    "distributed_system_id" : 1 }'
    </pre>

    Verify the completion of service creation prior to continuing
    to the next step.
    Output from the `cf services` command will show the `last operation` as
    `create succeeded` when service creation is completed.

1. Create a service instance, Cluster B, using the Foundation B Cloud Foundry credentials.
Enable TLS by specifying the `-c` option with the argument `"tls" : true`. 
This example also uses the `-c` option to set the `distributed_system_id` of Foundation B:

    <pre class='terminal'>
    $ cf create-service p-cloudcache wan-cluster wan2 -c '{
    "tls" : true,
    "distributed_system_id" : 2 }'
    </pre>

    Verify the completion of service creation prior to continuing
    to the next step.
    Output from the `cf services` command will show the `last operation` as
    `create succeeded` when service creation is completed.

## <a id="wan-create-keys"></a>Create Service Keys

1. Create a service key for Cluster A.
The service key will contain generated credentials, in a JSON element called `remote_cluster_info`, that this example
will use in establishing communication with Cluster B:

    <pre class='terminal'>
    $ cf create-service-key wan1 k1
    </pre>

    The contents of the service key will differ based upon the cluster
    configuration,
    and whether an authentication and enterprise single sign-on (SSO) system
    such as LDAP has been configured.
    With enterprise SSO, the service key will *not* contain cluster operator and developer users.
    
    Without enterprise SSO, the service key appears as in this example.
    Within the service key,
    each `username` is generated with a unique string
    appended so there will be unique user names for the different roles.
    The user names in this example have been modified
    to be easy to understand,
    and they are not representative of the user names that
    will be generated upon service key creation.
    Passwords generated for the service key are output in clear text.
    The passwords shown in this example have been
    modified to be easy to understand,
    and they are not representative of the passwords that
    will be generated upon service key creation.
    Here is sample output from `cf service-key wan1 k1`:

    <pre class='terminal'>
    Getting key k1 for service instance wan1 as admin...

    {
     "distributed_system_id": "1",
     "gfsh_login_string": "connect
     --url=https://cloudcache-url.com/gemfire/v1
     --user=cluster_operator_user --password=pass --skip-ssl-validation",
     "locators": [
      "id1.locator.subnet.service-instance-id.bosh[55221]",
      "id2.locator.subnet.service-instance-id.bosh[55221]",
      "id3.locator.subnet.service-instance-id.bosh[55221]"
     ],
     "remote_cluster_info": {
      "recursors": {
       "services-subnet.service-instance-id.bosh": [
        "10.0.8.6:1053",
        "10.0.8.7:1053",
        "10.0.8.5:1053"
       ]
      },
      "remote_locators": [
      "id1.locator.subnet.service-instance-id.bosh[55221]",
      "id2.locator.subnet.service-instance-id.bosh[55221]",
      "id3.locator.subnet.service-instance-id.bosh[55221]"
      ],
      "trusted_sender_credentials": [
       {
        "password": "gws-GHI-password",
        "username": "gateway_sender_GHI"
       }
      ]
     },
     "urls": {
      "gfsh": "https://cloudcache-1.example.com/gemfire/v1",
      "pulse": "https://cloudcache-1.example.com/pulse"
     },
     "users": [
      {
       "password": "cl-op-ABC-password",
       "roles": [
        "cluster_operator"
       ],
       "username": "cluster_operator_ABC"
      },
      {
       "password": "dev-DEF-password",
       "roles": [
        "developer"
       ],
       "username": "developer_DEF"
      }
     ],
     "wan": {}
    }
    </pre>

1. Create the service key of Cluster B:

    <pre class='terminal'>
    $ cf create-service-key wan2 k2
    </pre>

    Here is sample output from `cf service-key wan2 k2`,
    which outputs details of the Cluster B service key.
    As above, the service key will contain generated credentials, in a JSON element called `remote_cluster_info`, that this example
    will use in establishing communication with Cluster A.
    Again, user names and passwords have been simplified for readability.

    <pre class='terminal'>
    Getting key k2 for service instance destination as admin...

    {
     "distributed_system_id": "2",
     "gfsh_login_string": "connect
     --url=https://cloudcache-url.com/gemfire/v1
     --user=cluster_operator_user --password=pass --skip-ssl-validation",
     "locators": [
      "id1.locator-server.subnet2.service-instance-id2.bosh[55221]",
      "id2.locator-server.subnet2.service-instance-id2.bosh[55221]",
      "id3.locator-server.subnet2.service-instance-id2.bosh[55221]"
     ],
     "remote_cluster_info": {
      "recursors": {
       "services-subnet-2.service-instance-id-2.bosh": [
        "10.1.16.7:1053",
        "10.1.16.6:1053",
        "10.1.16.8:1053"
       ]
      },
      "remote_locators": [
      "id1.locator-server.subnet2.service-instance-id2.bosh[55221]",
      "id2.locator-server.subnet2.service-instance-id2.bosh[55221]",
      "id3.locator-server.subnet2.service-instance-id2.bosh[55221]"
      ],
      "trusted_sender_credentials": [
       {
        "password": "gws-PQR-password",
        "username": "gateway_sender_PQR"
       }
      ]
     },
     "urls": {
      "gfsh": "https://cloudcache-2.example.com/gemfire/v1",
      "pulse": "https://cloudcache-2.example.com/pulse"
     },
     "users": [
      {
       "password": "cl-op-JKL-password",
       "roles": [
        "cluster_operator"
       ],
       "username": "cluster_operator_JKL"
      },
      {
       "password": "dev-MNO-password",
       "roles": [
        "developer"
       ],
       "username": "developer_MNO"
      }
     ],
     "wan": {}
    }
    </pre>

## <a id="wan-bi-tls-establish-bidirectional-connection"></a>Establish a Bi-Directional Connection

To establish bidirectional communication between Clusters A and B, each must be updated with some of
the other's `remote_cluster_info`: the remote locators array, trusted sender credentials, and recursors array.

1. Update the Cluster A service instance, using the `-c` option to specify a `remote_clusters` element that
   includes the contents of the Cluster B service key `remote_cluster_info` element, including the remote locators array,
   trusted sender credentials, and recursors array:

    <pre class='terminal'>
    $ cf update-service wan1 -c '
    {
      "remote_clusters":[
      {
        "remote_locators":[
          "id1.locator-server.subnet2.service-instance-id2.bosh[55221]",
          "id1.locator-server.subnet2.service-instance-id2.bosh[55221]",
          "id1.locator-server.subnet2.service-instance-id2.bosh[55221]"],
        "trusted_sender_credentials":[
        {
          "username":"gateway_sender_PQR",
          "password":"gws-PQR-password"
        }]
        "recursors": {
          "services-subnet.service-instance-id.bosh": [
            "10.1.16.6:1053",
            "10.1.16.8:1053",
            "10.1.16.7:1053"
          ]
        }
      }]
    }'
    Updating service instance wan1 as admin
    </pre>

1. Update the Cluster B service instance, using the `-c` option to specify a `remote_clusters` element that
   includes the contents of the Cluster A service key `remote_cluster_info` element, including the remote locators array,
   trusted sender credentials, and recursors array:

    <pre class='terminal'>
    $ cf update-service wan1 -c '
    {
      "remote_clusters":[
      {
        "remote_locators":[
          "id1.locator.subnet.service-instance-id.bosh[55221]",
          "id2.locator.subnet.service-instance-id.bosh[55221]",
          "id3.locator.subnet.service-instance-id.bosh[55221]"
        "trusted_sender_credentials":[
        {
          "username": "gateway_sender_GHI",
          "password":"gws-GHI-password"
        }]
        "recursors": {
          "services-subnet.service-instance-id.bosh": [
            "10.0.8.5:1053",
            "10.0.8.7:1053",
            "10.0.8.6:1053"
          ]
        }
      }]
    }'
    Updating service instance wan2 as admin
    </pre>

1. To verify that a service instance has been correctly updated,
   delete and recreate the cluster service key.
   As designed, the recreated service key will have the same user identifiers
   and passwords; new unique strings and passwords are not generated.
   The `wan{}` element at the end of the key should be populated with the other cluster's remote connection information.
   For example, to verify that the Cluster A service key was updated correctly, log in as Cluster A administrator and issue these commands:

    <pre class='terminal'>
    $ cf delete-service-key wan1 k1
    </pre>

    <pre class='terminal'>
    $ cf create-service-key wan1 k1
    </pre>

    This example service key is shown assuming that an authentication and
    enterprise single sign-on (SSO) system such as LDAP has
    *not* been configured.
    The Cluster A service key will now appear as:

    <pre class='terminal'>
    Getting key k1 for service instance wan1 as admin...

    {
     "distributed_system_id": "1",
     "gfsh_login_string": "connect
     --url=https://cloudcache-url.com/gemfire/v1
     --user=cluster_operator_user --password=pass --skip-ssl-validation",
     "locators": [
      "id1.locator.subnet.service-instance-id.bosh[55221]",
      "id2.locator.subnet.service-instance-id.bosh[55221]",
      "id3.locator.subnet.service-instance-id.bosh[55221]"
     ],
     "remote_cluster_info": {
      "recursors": {
       "services-subnet.service-instance-id.bosh": [
        "10.0.8.6:1053",
        "10.0.8.7:1053",
        "10.0.8.5:1053"
       ]
      },
      "remote_locators": [
      "id1.locator.subnet.service-instance-id.bosh[55221]",
      "id2.locator.subnet.service-instance-id.bosh[55221]",
      "id3.locator.subnet.service-instance-id.bosh[55221]"
      ],
      "trusted_sender_credentials": [
       {
        "password": "gws-GHI-password",
        "username": "gateway_sender_GHI"
       }
      ]
     },
     "urls": {
      "gfsh": "https://cloudcache-1.example.com/gemfire/v1",
      "pulse": "https://cloudcache-1.example.com/pulse"
     },
     "users": [
      {
       "password": "cl-op-ABC-password",
       "roles": [
        "cluster_operator"
       ],
       "username": "cluster_operator_ABC"
      },
      {
       "password": "dev-DEF-password",
       "roles": [
        "developer"
       ],
       "username": "developer_DEF"
      }
     ],
     "wan": {
      "remote_clusters": [
       {
        "remote_locators": [
         "id1.locator-server.subnet2.service-instance-id2.bosh[55221]",
         "id2.locator-server.subnet2.service-instance-id2.bosh[55221]",
         "id3.locator-server.subnet2.service-instance-id2.bosh[55221]"
        ],
        "trusted_sender_credentials": [
         "gateway_sender_PQR"
        ]
       }
      ]
     }
    }
    </pre>


## <a id="wan-bi-tls-create-regions"></a>Create Regions and Gateway Senders

On each cluster, create a gateway sender that sends to the other cluster, the create regions on each cluster that have the same name and type.
Note: GemFire requires that the gateway sender must be created before the region that uses it, so there is a window in which region operations
that occur after the region is created on Cluster A, but before the region is created on Cluster B,
will be lost.

1. Use gfsh to create the Cluster A gateway sender and the region.
    - Connect using gfsh following the instructions in
    [Connect with gfsh over HTTPS](accessing-instance.html#gfsh-connect-https)
    with a role that is able to manage both the cluster and the data.
    - Create the Cluster A gateway sender.
    The required `remote-distributed-system-id` option identifies the `distributed-system-id` of the destination cluster. It is 2 for this example:

        <pre class='terminal'>
        gfsh>create gateway-sender --id=send_to_2 --remote-distributed-system-id=2 --enable-persistence=true
        </pre>
    - Create the Cluster A region.
    The `gateway-sender-id` associates region operations with a specific
    gateway sender.  The region must have an associated gateway sender in
    order to propagate region events across the WAN.

        <pre class='terminal'>
        gfsh>create region --name=regionX --gateway-sender-id=send_to_2 --type=PARTITION_REDUNDANT
        </pre>

1. Use gfsh to create the Cluster B gateway sender and region.
    - Connect using gfsh following the instructions in
    [Connect with gfsh over HTTPS](accessing-instance.html#gfsh-connect-https)
    with a role that is able to manage both the cluster and the data.
    - Create the Cluster B gateway sender:

        <pre class='terminal'>
        gfsh>create gateway-sender --id=send_to_1 --remote-distributed-system-id=1 --enable-persistence=true
        </pre>
    - Create the Cluster B region:

        <pre class='terminal'>
        gfsh>create region --name=regionX --gateway-sender-id=send_to_1 --type=PARTITION_REDUNDANT
        </pre>

## <a id=wan-bi-tls-verify class="no_quick_link"></a>Verify Bidirectional WAN Setup

This verification uses gfsh to put a region entry into each of Cluster A
and Cluster B, in order to observe that the entry appears in the
other cluster.

1. Run gfsh and connect following the instructions in
[Connect with gfsh over HTTPS](accessing-instance.html#gfsh-connect-https)
with a role that is able to manage both the cluster and the data.

1. Verify that Cluster A has a complete set of gateway senders and
gateway receivers:

    <pre class='terminal'>
    gfsh>list gateways
    </pre>
    
    Also verify that there are no queued events in the gateway senders.
    
1. In a separate terminal window,
run gfsh and connect following the instructions in
[Connect with gfsh over HTTPS](accessing-instance.html#gfsh-connect-https)
with a role that is able to manage both the cluster and the data.

1. Verify that Cluster B has a complete set of gateway senders and
gateway receivers:

    <pre class='terminal'>
    gfsh>list gateways
    </pre>

    Also verify that there are no queued events in the gateway senders.
    
1. Use gfsh to do a put operation from the Cluster A gfsh connection.
This example assumes that both the key and the value for the entry
are strings.
The gfsh `help put` command shows the put command's options. 
Here is an example:

    <pre class='terminal'>
    gfsh>put --region=regionX --key=mykey1 --value=stringvalue1
    Result      : true
    Key Class   : java.lang.String
    Key         : mykey1
    Value Class : java.lang.String
    Old Value   : null
    </pre>

1. Wait approximately 30 seconds before using the Cluster B gfsh
connection to do a get of the same key that was put into the region
on Cluster A.

    <pre class='terminal'>
    gfsh>get --region=regionX --key=mykey1
    Result      : true
    Key Class   : java.lang.String
    Key         : mykey1
    Value Class : java.lang.String
    Value       : "stringvalue1"
    </pre>

    You should see that Cluster B has the value.

1. Repeat steps 5 and 6 to do a put operation operation on Cluster B
and verify that the entry is sent to Cluster A.

1. Remove both test entries from both clusters with two gfsh
commands, issuing the commands on one of the clusters.
The WAN replication will cause the removal of the test entries
on the other cluster.

    <pre class='terminal'>
    gfsh>remove --region=regionX --key=mykey1
    Result    : true
    Key Class : java.lang.String
    Key       : mykey1

    gfsh>remove --region=regionX --key=mykey2
    Result    : true
    Key Class : java.lang.String
    Key       : mykey2
    </pre>
