---
title:  Installing and Running VSD
---

## <a id="install_vsd"></a>Install VSD

VSD is a free analysis tool and is provided as-is.
See [VSD System Requirements](vsd_system_requirements.html) to view a list of platforms that are known to work with VSD.

VSD is available for download from the [<%=vars.pivnet%> <%=vars.product_name%> download page](https://network.pivotal.io/products/tanzu-gemfire-for-vms).
It can be installed anywhere, but if Apache Geode is installed in `PRODUCT-DIR`, you may wish to install VSD in <code>PRODUCT-DIR/tools/vsd</code>
so it can be conveniently launched from gfsh using the `start vsd` command.

Download the VSD archive, usually named something like `pivotal-gemfire-vsd.zip`, and unpack it in the directory of your choosing.
For this example, assume and VSD was downloaded, unzipped, and installed in <code>PRODUCT-DIR/tools/vsd</code>.

**Note:**
VSD is a 32-bit application. If you are running VSD on a 64-bit machine, you may need to install 32-bit OS libraries to run the application if they are not already installed.
On Linux, to find out which libraries are missing, run the following `ldd` command:

``` pre
ldd PRODUCT-DIR/tools/vsd/bin/vsdwishLinux
```

The VSD tool installation has two subdirectories, `bin` and `lib`:

-   `bin`. Contains scripts and binaries that can be used to run VSD on a variety of operating systems, including:

    -   vsd - script for Solaris, Linux, and Mac
    -   vsd.bat - script for Windows
    -   vsdwishSunOS - binary for Solaris
    -   vsdwishLinux - binary for Linux
    -   vsdwishDarwin - binary for Mac
    -   vsdwishWindows\_NT.exe - binary for Windows

-   `lib`. The jars and binary libraries needed to run VSD.

## <a id="start_vsd"></a>Start VSD

To start VSD, you can either execute the scripts directly or you can start VSD through the gfsh interface.
To start VSD using the provided scripts, change directories to <code>PRODUCT-DIR/tools/vsd/bin</code> and the enter the following command at the prompt:

-   **Windows:**

    ``` pre
    prompt>vsd.bat
    ```

    **Note:**
    To run VSD on Windows 7 or later, go to the <code>_product-dir_/tools/vsd/bin</code> directory. Right-click on `vsd.bat` and select Properties. Click Compatibility and set it to **Windows XP**. Repeat this step for all other executables in the `bin` directory.

-   **Linux/Unix, MacOS or Other OS:**

    ``` pre
    $ vsd
    ```

To start VSD using `gfsh`, start a `gfsh` prompt and enter the following command:

``` pre
gfsh>start vsd
```

## <a id="acquire_file_vsd"></a>Acquire the Statistics Files

VSD displays captured statistics.
Those statistics must be copied from the TAS environment where
the service instance is to the local environment where VSD is.

There are two ways to acquire the files. Choose one:

- After connecting to the service instance with `gfsh export logs` command
with the `--stats-only` as directed in [Export gfsh Logs](../using-pcc.html#exporting_logs).

- Use the BOSH command as specified in [View Statistics Files and Logs](../troubleshooting.html#view-statistics).
The statistics are in 
`/var/vcap/sys/log/gemfire-server/gemfire/statistics.gfs` for servers,
and 
`/var/vcap/sys/log/gemfire-locator/gemfire/statistics.gfs` for locators.

## <a id="load_file_vsd"></a>Load a Statistics File into VSD

You have several options for loading a statistics file into VSD:

-   Include the name of one or more statistics files on the VSD command line. Example:

    ``` pre
    vsd STAT-FILE-NAME.gfs ...
    ```

-   Browse for an existing statistics file through Main &gt; Load Data File.
-   Type the full path in the File entry box, then press Enter.
-   Switch to a statistics file that you’ve already loaded by clicking the down-arrow next to the File entry.

After you load the data file, the VSD main window displays a list of entities for which statistics are available. VSD uses color to distinguish between entities that are still running (shown in green) and those that have stopped (shown in black).

The File &gt; Auto Update is not supported, since the statistics
file is static when downloaded.

## <a id="fgs-time-zone-information-matching-statistics-log-files"></a>.gfs Time Zone Information for Matching Statistics to Log Files

When opening a .gfs file, statistics are shown in the time zone used on the *local computer* where VSD is launched. This can made it harder to relate log files to statistics if the logs are from another time zone.

To open a VSD file with the time zone used when generating it, first you need to know in which time zone the .gfs file is created. To obtain this information, use the following command:

``` pre
strings file.gfs | head
```

For example:

``` pre
$ strings ObjLoader?-31-03.gfs | head
Hongkong
hklp162p.oocl.com
:GemFire? x.x.x
14:46:33 PST
Linux x.x.x
```

After you obtain the time zone, modify your local computer to use the time zone used when obtaining statistics in the .gfs file. For example, on a Mac computer, you can first list available time zones:

``` pre
sudo systemsetup -listtimezones
```

And then export the specific timezone to your environment:

``` pre
export TZ=<timezone>
```

For example, for Hong Kong:

``` pre
export TZ=Asia/Hong_Kong
```

Then use VSD to open the .gfs file that will now display timestamps from the original time zone.
