---
title: Installing and Configuring My Service
owner: <your group name> # <---- For example "London Services"
---

_This topic provides instructions for how to install, configure, and deploy the tile. Typically, this includes procedures for how to download the tile from PivNet, install it on Ops Manager, configure and deploy the tile, and do any required third-party configuration. Screenshots should be provided where necessary._

<p class="note"><strong>Note</strong>: <em>Screenshots should be in PNG format.
Screenshots should have a black border, one-pixel wide. You can use your favorite image editor to do this or the utility script <a href="https://github.com/pivotal-cf-experimental/docs-utility-scripts/tree/master/bordify">Bordify</a>.</em></p>

_The suggested title for this page is “Installing and Configuring My Service.”
If necessary, break it into two pages called “Installing My Service” and “Configuring My Service, or multiple product-specific configuration pages for integrating with other products. The topic [Deploying JMX Bridge](http://docs.pivotal.io/jmx-bridge/deploy-metrics.html) is a good example, except that it's called "Deploying" instead of "Installing and Configuring."_

_Make sure to include a link to the [Upgrading page](./upgrade.html) from this page._

_Suggested second-level sections for this page are:_

## <a id="install"></a> Install My Service

_If your installation procedure is standard, consider cross-referencing this topic: “Adding and Deleting Products” ([v1.7](http://docs-pcf-staging.cfapps.io/pivotalcf/1-7/customizing/add-delete.html#pivnet-api)) or ([v1.8](http://docs-pcf-staging.cfapps.io/pivotalcf/1-8/customizing/add-delete.html#pivnet-api)). If your installation is customized, consider copying and modifying the procedure._

## <a id="config"></a> Configure My Service

_This typically includes completing the tile configuration sections in Ops Manager, and can also include any configuration on the product side._ 

## <a id="deploy"></a> Deploy My Service

_body text_

## <a id="secure"></a> Secure My Service

_If there are any special security features associated with the product, place them here._

## <a id="integrate"></a> Integrate My Service with Other Product

_Integrate with Other Product: If there are procedures for integrating the product with other products, place them here. Or more detailed configurations, break them out into their own product-specific configuration pages._
